
.fg_sprite{
    display:inline;
    overflow:hidden;
    background-repeat:no-repeat;
    background-image:url('../img/sprite.png');
    height:16px; width:16px; overflow:hidden; margin:-2px 3px 3px 0; padding: 0px;
    display:-moz-inline-box;display:inline-block; vertical-align:middle;
}
.fg_icons/animal{background-position:0px 0px}.fg_icons/application-search-result{background-position:0px -16px}.fg_icons/arrow-branch-180-left{background-position:0px -32px}.fg_icons/applications{background-position:0px -48px}.fg_icons/application-browser{background-position:0px -64px}